*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

p{
  line-height: 1.8;
  font-family: 'Kanit', sans-serif;
}

h1, h3{
  font-family: 'Fjalla One', sans-serif;
}

button{
  font-family: 'Kanit', sans-serif;
}

/* Navigation bar */
.navigation{
  top: 0;
  position: sticky;
  z-index: 1;
}


.nav-bar{
  background-color: #4e82b2;
  top: 0;
}

.courses{
  background-color: #313B4D;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav-bar li{
  display: inline-block;
}

.active{
  background-color: rgba(0, 0, 0, 0.326);
}

.nav-bar li a {
  display: block;
  text-align: center;
  padding: 10px 60px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Fjalla One', sans-serif;
  transition: background-color, 1s;
}

.i{
  color: #69bebc;
  letter-spacing: 0.5rem;
}

.courses ul{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.courses ul li a{
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.nav-bar li a:hover{
  background-color: rgba(0, 0, 0, 0.326);  
}

.sign-btn{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  float: right;
}

.sign-btn .sign-up{
  background-color: #96D4D4;
  padding: 0.45rem 1.6rem;
  color: #000;
  border-radius: 3em;
  transform: translateX(1rem);
}

.sign-btn .sign-in{
  background-color: #5c9e9e;
  padding: 0.45rem 1.6rem;
  color: #fff;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;

}

/* Initial Page */
.initial-page{
  width: 100%;
  height: 40rem;
  background-image: url("images/study.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-page .text{
  text-align: center;
  line-height: 20rem;
  color: #fff;
}

.initial-page .text h1{
  font-size: 5rem;
}

.initial-page .text h3{
  font-size: 1.35rem;
}

/* First Page */
.container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
  background-color: #D9EEE1;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 6rem;
}

.list .heading{
  text-align: center;
}

.list .heading h1{
  font-size: 5rem;
}

.list .heading p{
  font-weight: 530;
  font-size: 1.5rem;
}

.list button{
  position: relative;
  text-decoration: none;
  border: none;
  border-radius: 10rem;
  padding: 0.8rem 0.4rem;
  margin: 0.8rem ;
  width: 12rem;
  align-self: center;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  transition: opacity 300ms;
  cursor: pointer;
}

.list button:hover{
  opacity: 0.6;
}

.list .course{
  background-color: #4e82b2;
}

.list .ex{
  background-color: #04AA6D;
}

.list .quiz{
  background-color: #FFC0C7;
  color: #000;
}

.image-box{
  position: relative;
  width: 25%;
  height: auto;
  padding: 1rem 1rem 3rem 1rem;
  background-color: rgb(97, 109, 130);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
}

.image-box .hidden-text{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 1s;
}

.image-box .hidden-text ul li{
  list-style-type: none;
  font-family: 'Fjalla One', sans-serif;
  margin: 1.5rem;
  font-size: 1.4rem;
}

.image-box .hidden-text:hover{
  opacity: 1;
}

.image-box h1{
  align-self: start;
  margin-bottom: 1rem;
}

.image-box .image-bg img{
  width: 100%;
}

/* Second page */
.second .container{
  background-color: #FFF4A3;
}

.second .container .list .quiz{
  background-color: #FFC0C7;
  color: #fff;
}

.second .list{
  margin-right: 10.5rem;
  margin-left: 4rem;
}

.second .container .image-box .hidden-text ul li{
  margin: 1rem;
}

/* Third Page */
.third .container{
  background-color: #0D1721;
  color: #fff;
}

.third .container .list .quiz{
  background-color: #FFC0C7;
  color: #fff;
}

.third .list{
  margin-right: 8rem;
  margin-left: 1rem;
}

/* Fourth Page */
.fourth .container{
  background-color: #F3ECEA;
}

.fourth .list{
  margin-right: 7rem;
  margin-left: -1.5rem;
}

.fourth .container .list .heading h1{
  font-size: 3rem;
}

.fourth .container .image-box .hidden-text ul{
  margin-top: 1.5rem;
}

.fourth .container .image-box .hidden-text ul li{
  margin: 1rem;
}

/* Fifth Page */
.fifth .container{
  background-color: #96D4D4 ;
}

.fifth .list{
  margin-right: 10rem;
  margin-left: 0rem;
}

/* Six Subjects Sixth page */

.sixth-page-section .wrapper{
  background-color: #0D1721;
  width: 100%;
  height: auto;
}

.wrapper{
  width: 100%;
  height: 100%;
  padding: 6em 7rem 0rem 7rem;
}

.container-six{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-six .subject{
  background-color: #F3ECEA;
  width: 40vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.container-six .subject h1{
  font-size: 3rem;
}

.container-six .subject p{
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.8rem 0 2rem 0;
}

.container-six button{
  border: none;
  color: #fff;
  background-color: #0D1721;
  padding: 0.8rem 1.8rem 0.8rem 1.8rem ;
  border-radius: 3rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container-six button:hover{
  background-color: rgba(30, 30, 30, 0.9);
}

.container-six .first .two{
  background-color: #FFF4A3;
}

.container-six .second .one{
  background-color: #FFC0C7;
}

.container-six .second .two{
  background-color: #96D4D4;
}

.container-six .third .one{
  background-color: #69bebc;
}

/* Slider */
.slideshow-container{
  background-color: #D9EEE1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow-container .team-heading{
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}

.mySlides{
  width: 80%;
  margin: 1.5rem 0 1rem 0;
  position: relative;
  display: none;
}

.container{
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #478ac9;
  padding: 4rem;
  position: relative;
  border-radius: 1em;
}

.img-container{
  max-width: 27rem;
  margin: 0 3rem 0 0;
}

.img-container img{
  width: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 30rem;
  text-align: center;
  padding: auto;
  line-height: 2;
}

.prev, .next{
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.prev{
  left: 1rem;
}

.next{
  right: 1rem;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 2rem;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade{
  animation-name: fade;
  animation-duration: 1s;
} 

.appear{
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: linear;
}

/* Footer */
.footer{
  width: auto;
  height: 16vh;
  padding: 4vh;
  background-color: #717171;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inha-emblem{
  position: relative;
}

.inha-link{
  position:absolute;
  background-color: #00000000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-media i{
  margin-right: 1vw;
  font-size: 25px;
}

@keyframes fade{
  0%{
    margin-left: 200px;
    opacity: 0;
  }
  100%{
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}